table {
	width:500px;
	height: 250px ;
	 color: brown;
	border-spacing: 0;
	border: 3px solid grayborder-radius:15px 15px 15px 15px;
}
thead{
  	font-size: 25px;
	color:  white;
		}
th{
	background-color: green;
	border: 1px solid gray;
	border-radius: 15px 15px 15px 15px ;

		}
h1{
	font-family: fantasy;
	color: darkblue;
	 margin: auto;
	border: 5px auto;
}
td{
	font-size: 15px;
	margin: auto;
	border: 1px solid gray;
	text-align: center;
	position: relative;
}
td:hover{
	background-color: gray;
	font-family: arial;
}